/* =============================== */
/* === 1. RESET AND BOX-SIZING === */
/* =============================== */

/* Apply box-sizing globally */
* {
    box-sizing: border-box;
}

/* Ensure HTML5 elements display correctly in older browsers */
header, section, main, footer {
    display: block;
}

/* =================================== */
/* === 2. DARK THEME CSS VARIABLES === */
/* =================================== */

/* This CSS uses hard-coded/in-line colours for the default "light theme", for
 * basic compatibility when JavaScript and/or CSS variables are not supported.
 *
 * The theme-toggle button is only visible when JavaScript is enabled.
 * If "dark theme" is selected, a LocalStorage entry sets the data-theme to "dark".
 * If "light theme" is re-selected, the LocalStorage entry is deleted.
 * 
 * DEFAULT LIGHT THEME:

:root {
    --bg-color: #fff;
    --text-color: #2a2a2a;

    --link-color: #004080;
    --link-hover: #0056b3;
    --link-focus: #000;
    --link-focus-outline: #80d8ff;

    --nav-bg-color: #000;
    --nav-text-color: #fff;
    --nav-link-hover-color: #ff56b3;
    --nav-link-focus-color: #80d8ff;
    --nav-link-focus-outline: #80d8ff;
    
    --footer-bg-color: #f4f4f4;
    --border-color: #ddd;
    --code-bg-color: #000;
    --code-text-color: #f4f4f4;
    --pre-bg-color: #f4f4f4;
    --pre-text-color: #000;
    --input-bg-color: #f4f4f4;
    --input-text-color: #000;
    
    --details-bg-color: #f5f5f5;
    --details-open-bg-color: #f5f5f5;
    --details-text-color: #2a2a2a;
    --details-not-summary-bg-color: #f5f5f5;
    --details-not-summary-text-color: #333333;

    --button-bg-color: #007bff;
    --button-color: #fff;
    --button-hover-bg-color: #0056b3;
    --button-focus-bg-color: #0056b3;
    --button-focus-outline-color: #000;

    --theme-button-bg-color: #007bff;
    --theme-button-color: #fff;
    --theme-button-hover-bg-color: #0056b3;
    --theme-button-focus-bg-color: #0056b3;
} */

/* Dark theme variables*/
[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --text-color: #e0e0e0;

    --link-color: #80d8ff;
    --link-hover: #a3e0ff;
    --link-focus: #80d8ff;
    --link-focus-outline: #80d8ff;

    --nav-bg-color: #333;
    --nav-text-color: #e0e0e0;
    --nav-link-hover-color: #ff56b3;
    --nav-link-focus-color: #80d8ff;
    --nav-link-focus-outline: #80d8ff;

    --footer-bg-color: #333;
    --border-color: #444;
    --code-bg-color: #2b2b2b;
    --code-text-color: #e0e0e0;
    --pre-bg-color: #2b2b2b;
    --pre-text-color: #e0e0e0;
    --input-bg-color: #2b2b2b;
    --input-text-color: #e0e0e0;
    
    --details-bg-color: #2b2b2b;
    --details-open-bg-color: #2b2b2b;
    --details-text-color: #e0e0e0;
    --details-not-summary-bg-color: #2b2b2b;
    --details-not-summary-text-color: #e0e0e0;

    --button-bg-color: #444;
    --button-color: #e0e0e0;
    --button-hover-bg-color: #555;
    --button-focus-bg-color: #555;
    --button-focus-outline-color: #80d8ff;

    --theme-button-bg-color: #444;
    --theme-button-color: #e0e0e0;
    --theme-button-hover-bg-color: #555;
    --theme-button-focus-bg-color: #555;
}

/* ========================= */
/* === 3. PAGE STRUCTURE === */
/* ========================= */

html {
    font-size: 16px; /* Default font size -- can use em and rem units for scaling */
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #2a2a2a;
}
[data-theme="dark"] body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    max-width: 900px;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

footer {
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    background-color: #f4f4f4;
}

[data-theme="dark"] footer {
    background-color: var(--footer-bg-color);
}

/* ======================== */
/* === 4. MAIN ELEMENTS === */
/* ======================== */


a {
    color: #004080;
}

[data-theme="dark"] a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    color: #0074d9;
}

[data-theme="dark"] a:hover {
    color: var(--link-hover);
}

a:focus {
    text-decoration: underline;
    outline-offset: 2px;
    outline: 2px solid;
    outline-color: #000;
}

[data-theme="dark"] a:focus {
	outline-color: var(--link-focus);
}

img {
    max-width: 100%; /* fit width */
    height: auto; /* maintain aspect ratio */
    display: block; /* block element (not in-line for responsive design) */
}

h1 { /* Main page title (Ahoy!, Arch, Lineage, etc.) */
    text-align: center;
    font-size: 3rem;
    margin-top: 2.75rem;
    color: #2a2a2a;
}

[data-theme="dark"] h1 {
    color: var(--text-color);
}

h2 { /* NONSENSE and STUFF headings */
    display: inline-block; /* Allows the visible "Skip" link next to "Nonsense" h2 header. */
    margin: 20px 10px 10px 0px;
    font-size: 2rem;
}

h2 + a { /* The visible "Skip" link next to the "Nonsense" h2 header */
    font-size: 1em;
}

p {
    margin-bottom: 20px;
    font-size: 1rem;
}

q {
    font-style: italic;
}

code {
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
}

[data-theme="dark"] code {
    background: var(--code-bg-color);
    color: var(--code-text-color);
}

pre {
    padding: 10px;
    overflow-x: auto;
    border: 1px solid;
    border-color: #ddd;
	background: #f4f4f4;
    color: #000;
}

[data-theme="dark"] pre {
    border-color: var(--border-color);
    background: var(--pre-bg-color);
	color: var(--pre-text-color);
}

pre code {
    display: block;
}

/* ========================== */
/* === 5. NAVIGATION MENU === */
/* ========================== */

nav {
	position: fixed;       /* Fixes the nav bar to the viewport */
    top: 0;                /* Positions it at the top of the viewport */
    left: 0;               /* Positions it at the left edge */
    width: 100%;           /* Ensures the nav bar spans the full width */
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #000;
}

[data-theme="dark"] nav {
	background-color: var(--nav-bg-color);
}

nav a {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
	border-radius: 4px;
    white-space: nowrap; /* Prevent individual link text from wrapping */
    margin: 5px 10px 5px 10px; /* space between links */
    padding: 16px 12px; /* Padding required for ARIA min touch area: 48x48 */
	color: #fff;
}

[data-theme="dark"] nav a {
	color: var(--nav-text-color);
}

nav a:hover {
    text-decoration: underline;
    color: #ff56b3;
}

[data-theme="dark"] nav a:hover {
    color: var(--nav-link-hover-color);
}

nav a:focus {
	outline-offset: 2px;
	outline: 2px solid;
	outline-color: #80d8ff;
}

[data-theme="dark"] nav a:focus {
	outline-color: var(--nav-link-focus-outline);
}

/* Invert colours on active nav link */
nav a.active {
    color: #000;
    background-color: #fff;
}

[data-theme="dark"] nav a.active {
    color: var(--nav-bg-color);
    background-color: var(--nav-text-color);
}

/* =========================== */
/* === 6. FORMS AND INPUTS === */
/* =========================== */

input[type="text"],
textarea {
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-right: 10px;
    border: 1px solid;
    border-color: #ddd;
    background-color: #f4f4f4;
    color: #000;
}

[data-theme="dark"] input[type="text"],
[data-theme="dark"] textarea {
    border-color: var(--border-color);
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
    border: 1px solid;
    border-color: #ddd;
    background-color: #fff;
    color: #2a2a2a;
}

[data-theme="dark"] input[type="checkbox"],
[data-theme="dark"] input[type="radio"] {
    border-color: var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
}

input:focus,
textarea:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline-offset: 2px;
    outline: 2px solid;
    outline-color: #80d8ff;
}

[data-theme="dark"] input:focus,
[data-theme="dark"] textarea:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline-color: var(--link-focus-outline);
}

/* ================== */
/* === 7. BUTTONS === */
/* ================== */

/* Default button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

[data-theme="dark"] button {
    background-color: var(--button-bg-color);
    color: var(--button-color);
}

button:hover { /* inherit default text color from button */
    background-color: #0056b3;
}
[data-theme="dark"] button:hover {
    background-color: var(--button-hover-bg-color);
}

button:focus { /* inherit default text color from button */
	outline-offset: 2px;
    outline: 2px solid;
    outline-color: #000;
    background-color: #0056b3;
}
[data-theme="dark"] button:focus {
    outline-color: var(--button-focus-outline-color);
    background-color: var(--button-focus-bg-color);
}

/* Styles for the Toggle button */
nav button#theme-toggle {
    cursor: pointer;             /* Button can be clicked with mouse */
    margin: 0 10px 0 0;          /* Only extra space to right */
    padding: 6px;
    font-size: 2.25rem;
    background-color: #007bff;
    color: #fff;
}

/* Theme-toggle button looks the same in dark theme! */
/* [data-theme="dark"] nav button#theme-toggle { } */

nav button#theme-toggle:hover {
    background-color: #0056b3;
}

/* Theme-toggle button hover looks the same in dark theme */
/* [data-theme="dark"] nav button#theme-toggle:hover { } */

nav button#theme-toggle:focus {
    outline-offset: 2px;
    outline: 2px solid;
    outline-color: #80d8ff;    
	background-color: #0056b3;
}

[data-theme="dark"] button#theme-toggle:focus {
    outline-color: var(--nav-link-focus-outline);
 }

/* ===================== */
/* === 8. SKIP LINKS === */
/* ===================== */

.skip-link { 
    position: absolute;
    left: -999px; /* Hidden until focused */
    top: -999px;
}

.skip-link:focus {
    z-index: 100; /* Display on top of other objects... */
    border-radius: 2px;
    left: 10px;
    top: 85px;
    padding: 10px;
    background: #000;
    color: #fff;
}

/* ===================================== */
/* === 9. DETAILS & SUMMARY ELEMENTS === */
/* ===================================== */

/* Styling for <details> and <summary> for collapsible content */
details {
    margin: 20px 0;
    padding: 15px;
	border-radius: 4px;
    border: 1px solid;
    border-color: #ddd;
    background-color: #f5f5f5;    
    color: #2a2a2a;
}

[data-theme="dark"] details {
    border-color: var(--border-color);
    background-color: var(--details-bg-color);
    color: var(--details-text-color);
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details summary {
    padding-inline-start: 15px;
}

summary:hover, summary:focus {
    text-decoration: underline;
    outline-offset: 2px;
    outline: 2px solid;
    outline-color: #80d8ff;
}

[data-theme="dark"] summary:focus {
	outline-color: var(--link-focus-outline);
}

details[open] {
    background-color: #f5f5f5;
}

[data-theme="dark"] details[open] {
    background-color: var(--details-open-bg-color);
}

details > *:not(summary) {
    margin-top: 10px;
    border-radius: 4px;
    color: #333333;
    background-color: #f5f5f5;
}

[data-theme="dark"] details[open] > *:not(summary) {
    color: var(--details-not-summary-text-color);
    background-color: var(--details-not-summary-bg-color);
}

details ul li, details ol li {
    margin-top: 8px;
}

/* =========================================== */
/* === 10. MEDIA QUERIES FOR SMALL SCREENS === */
/* =========================================== */

@media (max-width: 600px) {
    html {
        font-size: 14px; /* 2px smaller than default */
    }
    
    main {
        max-width: 100%; /* Use full width on small screens */
        padding: 10px; /* Reduce padding */
        padding-top: 80px; /* But still allow space for nav bar */
    }

    nav a {
        margin: 0 5px;
        padding: 17px 12px; /* add 1px (17 vs 16) above and below to account for 2px smaller html font size */
    }
}
